@model ProductRegisterViewModel

<!-- Modal -->
<div class="modal fade" id="modal-default-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-default-fadein" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pb-1">
                <form asp-action="Update" asp-controller="ProductRegister" method="post">
                    <div class="mb-4">
                        <!-- Gizli alanı doğru şekilde tanımladığımızdan emin olalım -->
                        <input id="messi" asp-for="ProductRegisterUpdate.ProductRegistirationId" />
                        <input id="ronaldo" asp-for="ProductRegisterUpdate.ProductId" />
                        <label class="form-label" asp-for="ProductRegisterUpdate.AppUserId">Zimmeti Değiştir</label>
                        <select asp-for="ProductRegisterUpdate.AppUserId"
                                asp-items="@(new SelectList(Model.Users, "Id", "UserName"))"
                                class="form-select">
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary">Done</button>
                        <button type="button" class="btn btn-sm btn-alt-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
