@model ProductViewModel
@{
    ViewData["Title"] = "New";
}

<div class="block block-rounded">
    <div class="block-content">
        <form asp-action="New" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div class="row push">
                <div class="col-lg-12 col-xl-12">
                    <div class="mb-4">
                        <label class="form-label" asp-for="ProductAdd.Name">Ürün ismi</label>
                        <input type="text" class="form-control" asp-for="ProductAdd.Name" placeholder="Ürün İsmi">
                        <span class="badge bg-danger" asp-validation-for="ProductAdd.Name"></span>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" asp-for="ProductAdd.Serial">Seri Numarası</label>
                        <input type="text" class="form-control" asp-for="ProductAdd.Serial" placeholder="Seri Numarası">
                    </div>
                    <div class="mb-4">
                        @if (Model.Categories.Count != 0)
                        {
                            <label class="form-label" asp-for="ProductAdd.CategoryId">Kategorisi</label>
                            <select asp-for="ProductAdd.CategoryId" asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))" class="form-select"></select>
                        }
                        else
                        {
                            <span class="badge bg-danger" asp-validation-for="ProductAdd.CategoryId">Kategori yok.</span>
                        }

                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="example-textarea-input">Açıklama</label>
                        <textarea class="form-control" asp-for="ProductAdd.Description" rows="4" placeholder="Ürün Açıklaması"></textarea>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">File Input</label>
                        <input class="form-control" multiple name="AssetUrls" type="file">
                    </div>
                    <div class="modal-footer">
                        <a href="/Product/Index" class="btn btn-sm btn-alt-secondary">İptal</a>
                        @if (Model.Categories.Count != 0)
                        {
                            <button type="submit" class="btn btn-sm btn-primary">Kaydet</button>
                        }
                        else
                        {
                            <button disabled type="submit" class="btn btn-sm btn-primary">Kaydet</button>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}