@model ProductRegisterViewModel
@{
    ViewData["Title"] = "New";
}

<form asp-action="New" asp-controller="ProductRegister" method="post" enctype="multipart/form-data">
    <div class="mb-4">
        <label class="form-label" asp-for="ProductRegisterAdd.AppUserId">Zimmet Sahibi</label>
        <select asp-for="ProductRegisterAdd.AppUserId"
                asp-items="@(new SelectList(Model.Users, "Id", "UserName"))"
                class="form-select">
        </select>
        <br />
        <label class="form-label" asp-for="ProductRegisterAdd.ProductId">Ürün</label>
        @if (Model.ProductsGet == null || Model.ProductsGet.Count == 0)
        {
            <h3>Zimmetlenecek öğe yok. Zimmet listesi ve envanteri kontrol edin.</h3>
        }
        else
        {
            <select asp-for="ProductRegisterAdd.ProductId"
                asp-items="@(new SelectList(Model.ProductsGet, "ProductId", "Name"))"
                class="form-select">
            </select>
        }
        <div class="mb-4">
            <label class="form-label">File Input</label>
            <input class="form-control" multiple asp-for="ProductRegisterAdd.FilePath" type="file">
        </div>

    </div>
    <div class="modal-footer">
        @if (Model.ProductsGet == null || Model.ProductsGet.Count == 0)
        {
            <button disabled type="submit" class="btn btn-sm btn-primary">Zimmetle</button>
        }
        else
        {
            <button type="submit" class="btn btn-sm btn-primary">Zimmetle</button>

        }
        <a class="btn btn-sm btn-alt-secondary" href="/ProductRegister/Index">Geri dön</a>
    </div>
</form>
