@model UserViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="row items-push">
    <div class="col-6 col-lg-3">
        <a class="block block-rounded block-link-shadow text-center h-100 mb-0" href="/User/New">
            <div class="block-content py-5">
                <div class="fs-3 fw-semibold text-success mb-1">
                    <i class="fa fa-plus"></i>
                </div>
                <p class="fw-semibold fs-sm text-success text-uppercase mb-0">
                    Yeni Kullanıcı Ekle
                </p>
            </div>
        </a>
    </div>
</div>

<partial name="/Views/User/Partials/_IndexSearch.cshtml" />
<br />

<div class="row">
    @foreach (var item in Model.AppUsers)
    {
        <div class="col-md-6 col-xl-3">
            <a class="block block-rounded block-link-pop text-center" href="/User/Details?id=@item.Id">

                <div class="block-content block-content-full bg-primary-darker">
                    <img class="img-avatar img-avatar-thumb" src="~/web/src/assets/media/avatars/avatar9.jpg" alt="">
                </div>
                <div class="block-content block-content-full block-content-sm bg-primary-dark">
                    <p class="fw-semibold text-white mb-0">@item.UserName</p>
                    <p class="fs-sm text-white-75 mb-0">
                        @item.Email
                    </p>
                </div>
                <div class="block-content block-content-full">
                    <div class="row g-sm">
                        <div class="col-12">
                            <p class="mb-2">
                                <i class="fa fa-fw fa-box text-body-color-dark"></i>
                            </p>
                                <p class="fs-sm fw-medium text-muted mb-0">
                                @item.UserProductCount
                                </p>
                        </div>
                    </div>
                </div>

            </a>
        </div>
    }
</div>

<partial name="/Views/User/Partials/_IndexPaginationButtons.cshtml" />

