@model UserViewModel
@{
    ViewData["Title"] = "New";
}
<div class="alert alert-danger" role="alert" asp-validation-summary="ModelOnly"> </div>

<div class="block block-rounded">
    <div class="block-content">
        <form asp-action="New" asp-controller="User" method="post">
            <div class="row push">
                <div class="col-lg-12 col-xl-12">
                    <div class="mb-4">
                        <label class="form-label" asp-for="UserAdd.Email">Kullanıcı Maili</label>
                        <input type="text" class="form-control" asp-for="UserAdd.Email" placeholder="Email">
                        <span class="badge bg-danger" asp-validation-for="UserAdd.Email"></span>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" asp-for="UserAdd.UserName">Kullanıcı Adı</label>
                        <input type="text" class="form-control" asp-for="UserAdd.UserName" placeholder="Kullanıcı adı">
                        <span class="badge bg-danger" asp-validation-for="UserAdd.UserName"></span>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" asp-for="UserAdd.Name">Adı</label>
                        <input type="text" class="form-control" asp-for="UserAdd.Name" placeholder="Soyad">
                        <span class="badge bg-danger" asp-validation-for="UserAdd.Name"></span>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" asp-for="UserAdd.Surname">Soyadı</label>
                        <input type="text" class="form-control" asp-for="UserAdd.Surname" placeholder="Ad">
                        <span class="badge bg-danger" asp-validation-for="UserAdd.Surname"></span>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" asp-for="UserAdd.RoleName">Rol</label>
                        <select asp-for="UserAdd.RoleName"
                                asp-items="@(new SelectList(Model.AppRoles, "Name", "Name"))"
                                class="form-select">
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" asp-for="UserAdd.Password">Şifre</label>
                        <input type="text" class="form-control" asp-for="UserAdd.Password" placeholder="Şifre">
                        <span class="badge bg-danger" asp-validation-for="UserAdd.Password"></span>
                    </div>
                    <div class="modal-footer">
                        <a href="/User/Index" class="btn btn-sm btn-alt-secondary">İptal</a>
                        <button type="submit" class="btn btn-sm btn-primary">Kaydet</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}